<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/ad.css">
    <link rel="icon" href="../public/images/icon.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 </head>
 <body>

   <div class="profile-ad">
     <div class="profile-info">
       <div id="profileInfo" class="profile-info-display">
         <h2>Username</h2>
         <div class="contact-info">
           <span class="name"><label>Location: </label><span id="location"></span></span><br>
           <span class="email"><label>Contact Information: </label>
             <span id="email"></span></span><br>
           <span class="phone"><span id="phone"></span></span><br>
         </div>
       </div>
     </div>
     <div id="profile-ad-preview" class="profile-ad-preview">
       <h3 class="profile-ad-title" ></h3>
       <span class="profile-ad-intro"><span class="profile-ad-type" id ="title"></span>
       <span>nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
       <span class="profile-ad-condition" id = "condition"></span>
       <span>nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
       <span class="profile-ad-price" id = "price"></span>
        </span><br>
       <p class="profile-ad-desc" id = desc></p>
     </div>
     <div id="profile-ad-img" class="profile-ad-img">img</div>
   </div>

   
   <script src="../public/ad.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </body>
