<!DOCTYPE html>
<html>
<head>
  <title>Post Your Ad</title>
  <link rel="stylesheet" href="../public/styles/post.css">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <link href="bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
  <form class="form-post" action="user" method="post">
    <select class="form-control" id="category"  required autofocus>
      <option value="" disabled selected style="display:none">Choose a subject category</option>
      <option value="">Book</option>
      <option value="">Notes</option>
      <option value="appliance">Electronics</option>
      <option value="">Notebook</option>
      <option value="appliance">Stationery</option>
      <option value="appliance">IClicker</option>
      <option value="appliance">Calculator</option>
      <option value="appliance">Others</option>
    </select>
    <select class="form-control" id="type" required autofocus>
      <option value="" disabled selected style="display:none">Choose the Ad type</option>
      <option value="">Selling</option>
      <option value="">Trading</option>
      <option value="">Giveaway</option>
      <option value="">Wanting</option>
    </select>
    <select class="form-control" id="type2" style="display:none" required autofocus>
      <option value="" disabled selected style="display:none">Choose the Ad type</option>
      <option value="">Selling</option>
    </select>
    <input type="text" class="form-control" id ="title" placeholder="Title" required autofocus>
    <input type="number" class="form-control" id ="price" placeholder="Price" required autofocus>

    <textarea type="text" maxlength="500" class="form-control" id = "description"placeholder="Write something about your Ad.." required autofocus></textarea>

    <select class="form-control" id="location" required autofocus>
      <option value="" disabled selected style="display:none">Location</option>
        <option value="dt">Downtown Toronto</option>
        <option value="ny">North York</option>
        <option value="ms">Missisauga</option>
        <option value="sc">Scarborough</option>
        <option value="mk">Markham</option>
        <option value="vh">Vaughan</option>
        <option value="rh">Richmond Hill</option>
        <option value="ot">Others</option>
    </select>

    <p class="attach">Attach a photo</p>
    <div class="photo">
      <input type="file" class="form-control" accept="image/*" onchange="photoView()" id="photo">
      <img src="">
    </div>
    <button id="post" class="post-ad" type="submit" onclick="addPostDb()">Post Your Ad</button>
    </form>
  </div>
  <script src="../public/post.js"></script>
</body>

</html>
