<!DOCTYPE html>
<html>
<head>
  <title>Post Your Ad</title>
  <link rel="stylesheet" href="../public/styles/post.css">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/images/icon.jpg">

    <link href="bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" id ="abcd" href="http://acuarela.ca">ACUARELA</a>
        </div>
        <div class="collapse navbar-collapse">
            
        </div>
    </div>
</nav>
  <div class="container">
  <form class="form-post">
    <select class="form-control" id="type"  required autofocus>
      <option value="" disabled selected style="display:none">Choose a subject category</option>
      <option value="">Textbook</option>
      <option value="">Course Notes</option>
      <option value="appliance">Electronics</option>
      <option value="appliance">iClicker</option>
      <option value="appliance">Calculator</option>
      <option value="appliance">Others</option>
    </select>
    <select class="form-control" id="category" required autofocus>
      <option value="" disabled selected style="display:none">Choose the Ad type</option>
      <option value="">Selling</option>
      <option value="">Swapping/Trading</option>
      <option value="">Giveaway</option>
      <option value="">Wanting</option>
    </select>
    
    <select class="form-control" id="type" required autofocus>
      <option value="" disabled selected style="display:none">Choose the condition of the product</option>
      <option value="">New</option>
      <option value="">Used - Like New</option>
      <option value="">Used - Very Good</option>
      <option value="">Used - Good</option>
      <option value="">Used - Acceptable</option>
    </select>

    <input type="text" class="form-control" placeholder="Title" id="title" required autofocus>
    <input type="number" class="form-control" placeholder="Price" id="pric" required autofocus>

    <textarea type="text" maxlength="500" class="form-control" placeholder="Write something about your Ad.." id="description" required autofocus></textarea>

    <select class="form-control" id="location" required autofocus>
      <option value="" disabled selected style="display:none">Location</option>
        <option value="dt">Downtown Toronto</option>
        <option value="ny">North York</option>
        <option value="ms">Missisauga</option>
        <option value="sc">Scarborough</option>
        <option value="mk">Markham</option>
        <option value="vh">Vaughan</option>
        <option value="rh">Richmond Hill</option>
        <option value="ot">Others</option>
    </select>

    <button id="post2" class="post-ad" type="submit" >Post Your Ad h</button>
 
    </form>
    <button id="post" class="post-ad" >Post Your Ad</button>
  </div>
  <script src="../public/post.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>
