<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/profile.css">
    <link rel="icon" href="../public/images/icon.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 </head>
 <body>
   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="index.html">ACUARELA</a>
           </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                   <li>
                       <div class="search-bar">
                         <input type="text" class="search-input" placeholder="Search...">
                         <button class="search-go" type="submit"><i class="fa fa-search"></i></button>
                       </div>
                   </li>
                   <li><a class="profile"><i class="far fa-user"></i>
                       <span class="tooltip">My Profile</span></a>
                   </li>
                   <li><a href="signin.html">Sign In</a></li>
                   <li><a class="post" href="./post.html">Post Ad</a></li>
               </ul>
           </div>
       </div>
   </nav>
   <div class="cover">
     <h1>My Profile <a href="#userPic">>>></a></h1>
   </div>

   <div class="profile-info">
     <div id="profileInfo" class="profile-info-display">
       <h2>Username<i class="fas fa-male"></i></h2>
       <span class="campus"><label>Campus: </label><span id="campus">UofT St.George</span></span>
       <div class="contact-info">
         <span class="name"><label>Name: </label><span>Jack Ma</span></span><br>
         <span class="email"><label>Email: </label><span>no1richman@alibaba.com</span></span><br>
         <span class="phone"><label>Phone: </label><span>(888) 888-8888</span></span><br>
         <button class="setting-btn" onclick="editProfile()"><i class="fas fa-user-cog"></i></button>
       </div>
     </div>
       <form id="settingChange" class="setting" method="post">
         <div class="setting-name">
           <input id="firstname" type="firstname" placeholder="Firstname" value="Jack" required autofocus>
           <input id="lastname" type="lastname" placeholder="Lastname" value="Ma" required autofocus>
        </div>
        <input type="username" placeholder="Username" value="No.1RichMan" required autofocus><br>
        <input type="password" placeholder="Password" value="password" onchange="" required autofocus><br>
        <input type="password" placeholder="Confirm your password" value="password" autofocus><br>
        <select type="gender" id="gender" class="" required autofocus>
            <option value="" disabled selected style="display: none;">I am...</option>
            <option value="Female">Female</option>
            <option value="Male" selected>Male</option>
            <option value="Other">Other</option>
        </select><br>
        <input type="phone" id="phone" class="" placeholder="Phone" value="8888888888"><br>
        <input type="email" id="email" class="" placeholder="Email" value="no1richman@alibaba.com" disabled required autofocus><br>
        <select type=""  id="campus" class="" >
            <option value="" disabled selected style="display: none;"></option>
            <option selected>UofT St.George</option>
            <option>UofT Missisauga</option>
            <option>UofT Scarborough</option>
            <option>Other</option>
        </select><br>
         <button class="save-btn">Save</button>
         <button class="cancel-btn">Cancel</button>
       </form>
   </div>
   <div class="profile-ad-container">
     <div class="search-my-ads">
       <input type="text" class="search-my-ads-input" placeholder="Search My Ads">
       <button class="search-my-ads-go" type="submit"><i class="fa fa-search"></i></button>
     </div>

     <div class="profile-ad">
       <div id="profile-ad-img" class="profile-ad-img">img</div>
       <div id="profile-ad-preview" class="profile-ad-preview">
         <h3 class="profile-ad-title">Introduction to Algorithms(3rd Edition)</h3>
         <span class="profile-ad-intro"><span class="profile-ad-type">Selling&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp</span><span class="profile-ad-condition">Used - Good&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp</span><span class="profile-ad-price">$100</span></span><br>
         <p class="profile-ad-desc">Selling my favourate textbook, so pay at least 100 dollar to get it or I will eat the book</p>
       </div>
     </div>

     <div class="profile-ad">
       <div id="profile-ad-img" class="profile-ad-img">img</div>
       <div id="profile-ad-preview" class="profile-ad-preview">
         <h3 class="profile-ad-title">Introduction to Algorithms(4rd Edition)</h3>
         <span class="profile-ad-intro"><span class="profile-ad-type">Selling&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp</span><span class="profile-ad-condition">Used - Good&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp</span><span class="profile-ad-price">$400</span></span><br>
         <p class="profile-ad-desc">Selling another my favourate textbook, so pay at least 400 dollar to get it or I will eat the book againppppppppppppppppppp ppppppppppppppppppppp  ppaaaskjfhalskfhs lkfhslkfhskljfhaslkjfhaslkjf hasjlfhajhfasljkf</p>
       </div>
     </div>

   </div>
   <div class="bottom">Acuarela 2019</div>


 	<script type="text/javascript" src="../public/profile.js"></script>
 </body>
</html>
