<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/profile.css">
 </head>
 <body>
 	<div id='main'>
 		<div id='leftSideBar'>
	 		<div id='picContainer'>
	 			<img id='userPic' src="pic.png">
	 		</div>
			<span id='userName'>User Name</span>
	 		<div id='contact'>
	 			<span id='contactHeader'>Contact </span>
	 			<hr>
	 			<h3>Email: </h3><span class='contactInfo' id='email'> username@email.com</span>
	 			<br>
	 			<h3>Phone: </h3><span class='contactInfo' id='phone'> +1 (647) 464-8861 </span>
	 		</div>
 		</div>
	 	<div id='adsContainer'>
	 		<div id='adHeader'>Ads</div>
	 		<hr>
	 		<div id='adList'>
	 			<div class='adItem'>
	 				<div class='thumbContainer'>
	 					<img class='adThumbnail' src="adThumbnail.jpg">
	 				</div>
	 				<div class='adDetails'>
	 					<span class='adTitle'>TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE </span>
		 				<br>
		 				<span class='adPrice'>$##.##</span>
		 				<br>
		 				<span class='adDesc'>ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION ITEM DESCRIPTION </span>
	 				</div>
	 				
	 			</div>
	 		</div>
	 	</div>
 	</div>
 	
<!--
Profile pic
Username
Contact details
Their ads
-->

 	<script type="text/javascript" src="../public/profile.js"></script>
 </body>
</html>
