.thumbnail {
    width: 180px;
    padding: 0;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .caption {
    padding: 9px;
}
.product_title {
    font-size: 1em;
}
p {
    margin-bottom: 0;
    font-size: 0.8em;
}

.posting {
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 30px;
    /* border: 1px solid grey; */
}

.post-container {
    margin-left: 200px;
}

/* The sidebar menu */
.sidenav {
    width: 160px; 
    position: absolute; 
    top: 100; /* Stay at the top */
    left: 10px;
    background-color: rgb(235, 235, 235);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .notvisible {
      display: none;
  }
  
