.thumbnail {
    width: 180px;
    padding: 0;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .caption {
    padding: 9px;
}
.product_title {
    font-size: 1em;
}
p {
    margin-bottom: 0;
    font-size: 0.8em;
}

.posting {
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 30px;
    /* border: 1px solid grey; */
}


