body {
  font-family: "Times New Roman", Georgia, Serif;
  background-image: url("../images/bgrnd.png");
}
.cover {
  //background-image: url("../images/bgd.jpg");
	height: 500px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  margin: -20px 0 0 0;
}

.aa{
  background-color:transparent;
  width: 100%;
  height: 700px;
  border-bottom: solid; 
  border-width: thin;
  background-image: url("../images/bgrnd.png");
}
h1 {
  font-size: 20px;
  position: absolute;
  top: 200px;
  left: 25%;
}
.navbar-header {
  cursor: pointer;
  margin:0;
  padding-bottom: 0;
  
}
.navbar{margin-bottom: none;
padding-bottom: 0;}
h1 a:hover{
  color: #fff;
  text-decoration: none;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 0;
  margin: 0;
  padding-bottom: 0;
}
#hh{
min-width: 90%;
min-height: 400px;  
max-width: 99.98%;


}
.navbar-brand {
  font-size: 15px;
  cursor: pointer;
}

.search-bar {
	border: 1px solid;
	border-color: #fff;
	border-radius: 15px;
	width: 300px;
	height: 32px;
  margin: 8px 10px 0 0;
}

.imga{
  max-width: 100%;
  max-height: 100%;

}
.logo{
  width: 5px;
  height: 5px;

}

.search-input {
	color: #fff;
	border: none;
	width: 250px;
	height: 30px;
	font-weight: 100;
	font-size: 15px;
	background-color: transparent;
	outline: none;
  margin: 0 0 0 10px;
}

.search-go {
	width: 20px;
	height: 20px;
	border: none;
	color: #fff;
	background-color: transparent;
	font-weight: 100;
	font-size: 18px;
	float: right;
	outline: none;
  margin: 4px 10px 0 0;
}
.profile {
  cursor: pointer;
  margin: 2px 0 0 0;
}
#category,#type,#location{
  width: 180px;
  }
.profile .tooltip {
  visibility: hidden;
	width: 120px;
  top: 100%;
  left: 50%;
  margin-left: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
	font-size: 12px;
}
.profile:hover .tooltip {
  visibility: visible;
}
.thumbnail {
    width: 180px;
    padding: 0;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .caption {
    padding: 9px;
}
.product_title {
    font-size: 1em;
}
p {
    margin-bottom: 0;
    font-size: 0.8em;
}

.posting {
    display: inline-block;
    flex-wrap: wrap;
    margin: 30px 0 0 60px;
    /* border: 1px solid grey; */
    text-align: center
}
.allAds{
  font-size: 15px;
background-color: lightgreen
}


#postAdbtn{
  font-size: 15px;

  background-color:lightgreen
}

.findbtn{
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-wrapper {
  position: relative;
 }

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
  
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 75%;
}




#find{
  background-color:#4CAF50;
  border: none;
}
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#aboutUs{
    text-align: center; 
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    padding-bottom: 0px;
    pointer-events:none;
    margin-top: 0;
    margin-bottom:0;
    

    
}
#ab{
  font-size: 20px ;
  font-family: 'Work Sans', sans-serif;

}

#button-div{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom:none;
  background-color: whitesmoke;
}
.AboutUs{
  background-image: url("../images/bgrnd.png");
  color: white;
}
.abas{
  background-image: url("../images/bgrnd.png");
}

.aboutMessage{
  
  border: 1px solid black;
  color: white;
  border-radius: 10px;
	padding: 20px;
	margin: 0px 0 0;
	width: 1000px;
  min-height: 200px;
  margin-left: 100px ;
  margin-bottom: 0px;
  overflow: hidden;
  background-image: url("../images/bgrnd.png");
}

.right-element {
  width: 420px;
  height: 400px;
  display: inline-block;
  float: left;
}

h4:hover {
  text-decoration: underline;
}
.product_title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 125%;
}
h3{
  font-family: 'Do Hyeon', sans-serif;
}


/* The sidebar menu */
.sidenav {
    width: 220px;
    position: absolute;
    top: 100px; /* Stay at the top */
    left: 50px;
  	border: 1px solid;
  	border-color: #183048;
    border-radius: 16px;
    
}

#tw, #fb, #lkd{

  font-size: 32px;
}




  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #183048;
    margin: 20px 0 20px 20px;
    height: 40px;
    width: 4px;
  }
  .filter-btn {
    color: #183048;
    border: 1px solid #183048;
    font-size: 14px;
  	font-weight: 100;
  	width: 100px;
  	height: 30px;
  	border-radius: 6px;
  	margin: -10px 0 10px 20px;
  }
  .filter-btn i {
    font-size: 12px;
  }
  .filter-btn:hover {
    border: 2px solid;
  }
  .clear-btn {
    color: #183048;
    border: 1px solid #183048;
    font-size: 14px;
  	font-weight: 100;
  	width: 100px;
  	height: 30px;
  	border-radius: 6px;
  	margin: 0 0 30px 20px;
  }
  .clear-btn:hover {
    border: 2px solid;
  }
  .bottom {
    margin: 50px 22% 0 22%;
    margin-bottom: 10px;
    width: 800px;
    height: 10px;
    text-align: center;
    color: #777777;
    border-top: 1px solid black;
    color:lightcyan;
    
  }
  /* The navigation menu links */

  /* When you mouse over the navigation links, change their color */

  .notvisible {
      display: none;
  }

  #abc{
    margin-left: 300px
  }

 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  font-size: 26px;
	font-weight: 100;
	color: #724a4a;
	text-align: center;
}
.form-signin .checkbox {
	margin-bottom: 10px;
	font-weight: 100;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #efefef;
	background: rgba(0, 0, 0, .1);
	border: none;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.needhelp {
	margin-left: 2px;
	margin-top: 0;
	margin-bottom: 0;
}
.needhelp a {
	font-style: italic;
	font-size: 12px;
	font-weight: 100;
	text-decoration: none;
	color: #efefef;
}

.signin-btn {
	font-size: 15px;
	font-weight: 100;
	width: 300px;
	height: 40px;
	margin-top: 10px;
	color: #fdffdd;
	background: rgba(0, 0, 0, .3);
	border: none;
	border-radius: 6px;
	outline-color: #fbff8c;
}
.signin-btn:hover {
	color: #fdffdd;
	background: rgba(0, 0, 0, .4);
}

.newUser {
	font-size: 14px;
	font-weight: 100;
	color: #efefef;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}
.newUser a {
	font-style: italic;
	font-size: 15px;
	font-weight: 100;
	text-decoration: none;
	color: #efefef;
}
.newUser a:hover {
	color: ##fdffdd;
}
Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@hassa321 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


hassa321
/
Acuarela-Web-Application-
1
0
0
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
6
Insights
Settings
Acuarela-Web-Application-/public/styles/signin.css

USER front end changes
Latest commit 5130181 on Apr 2, 2019
 History
 0 contributors
We found potential security vulnerabilities in your dependencies.
Only the owner of this repository can see this message.

Executable File  99 lines (94 sloc)  1.72 KB
  
body {
  padding-top: 99px;
  padding-bottom: 99px;
  font-family: "Times New Roman", Georgia, Serif;
  background-image: url("../images/bgd.jpg");
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  font-size: 26px;
	font-weight: 100;
	color: #efefef;
	text-align: center;
}
.form-signin .checkbox {
	margin-bottom: 10px;
	font-weight: 100;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #efefef;
	background: rgba(0, 0, 0, .1);
	border: none;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.needhelp {
	margin-left: 2px;
	margin-top: 0;
	margin-bottom: 0;
}
.needhelp a {
	font-style: italic;
	font-size: 12px;
	font-weight: 100;
	text-decoration: none;
	color: #efefef;
}

.signin-btn {
	font-size: 15px;
	font-weight: 100;
	width: 300px;
	height: 40px;
	margin-top: 10px;
	color: #fdffdd;
	background: rgba(0, 0, 0, .3);
	border: none;
	border-radius: 6px;
	outline-color: #fbff8c;
}
.signin-btn:hover {
	color: #fdffdd;
	background: rgba(0, 0, 0, .4);
}

.newUser {
	font-size: 14px;
	font-weight: 100;
	color: #efefef;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}
.newUser a {
	font-style: italic;
	font-size: 15px;
	font-weight: 100;
	text-decoration: none;
	color: #efefef;
}
.newUser a:hover {
	color: ##fdffdd;
}