body {
	
	font-family: "Times New Roman", Georgia, Serif;
	background-image: url("../images/egg_shell.png");
}

.form-post {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-size: 17px;
}
.container{
	margin-bottom: 100px;
}

.form-post .checkbox {
	font-weight: 100;
}

.form-post .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-color: #000;
	background-color: #fff;
  border: 1px solid;
  margin-bottom: 10px;
  height: 40px;
  width: 300px;
}
.form-post input[type="text"], .form-post textarea[type="text"] {
	width: 100%;
}
.form-post textarea[type="text"] {
	height: 300px;
}
.form-post input[type="file"] {
	border: none;
	width: 298px;
	outline: none;
}

.form-post .form-control:focus {
  z-index: 2;
}
#price {
	display: none;
}
.post-ad {
	background-color: lightblue;
    color: reds;
    font-size: 14px;
	font-weight: 100;
	width: 160px;
	height: 36px;
	border: none;
	border-radius: 6px;
	margin: 10px 0 10px 0;
}
.post-ad:hover {
	background-color: darkgray;
}

.attach {
	font-size: 16px;
	margin: 0;
	color: #183048;
}

.photo {
	border: 1px solid;
	border-color: #000;
	border-radius: 5px;
	width: 300px;
	height: 200px;
}
.photo img {
	margin-left: 10px;
	width: 200px;
	height: 130px;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  }
  .navbar-brand {
	font-size: 15px;
	cursor: pointer;
  }