body {
	font-family: "Times New Roman", Georgia, Serif;
}
.cover {
  background-image: url("../images/bgd.jpg");
	height: 500px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  margin: -20px 0 0 0;
}
h1 {
  font-size: 20px;
  position: absolute;
  top: 200px;
  left: 42%;
}
h1 a {
  cursor: pointer;
  color: #fff;
}
h1 a:hover{
  color: #fff;
  text-decoration: none;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar-brand {
  font-size: 15px;
  cursor: pointer;
}

.search-bar {
	border: 1px solid;
	border-color: #fff;
	border-radius: 15px;
	width: 300px;
	height: 32px;
  margin: 8px 10px 0 0;
}
.search-input {
	border: none;
	width: 250px;
	height: 30px;
	font-weight: 100;
	font-size: 15px;
	background-color: transparent;
	outline: none;
  margin: 0 0 0 10px;
}
.search-go {
	width: 20px;
	height: 20px;
	border: none;
	color: #fff;
	background-color: transparent;
	font-weight: 100;
	font-size: 18px;
	float: right;
	outline: none;
  margin: 4px 10px 0 0;
}
.profile {
  cursor: pointer;
  margin: 2px 0 0 0;
}
.profile .tooltip {
  visibility: hidden;
	width: 120px;
  top: 100%;
  left: 50%;
  margin-left: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
	font-size: 12px;
}
.profile:hover .tooltip {
  visibility: visible;
}

.profile-info {
    width: 250px;
    position: absolute;
    top: 500px; /* Stay at the top */
    left: 50px;
  	border: 1px solid #183048;
		color: #183048;
    border-radius: 16px;
		padding: 20px;
		margin: 0 0 30px 0;
		font-size: 18px;
}
.profile-info label {
	display: none;
}
.contact-info {
	font-size: 16px;
	border-top: 1px solid #183048;
	width: 200px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}
h2 {
	font-size: 30px;
}
h2 i {
	margin: 0 0 0 20px;
	font-size: 20px;
	color: blue;
}
.setting {
	display: none;
}
.setting button {
	border-radius: 10px;
	font-size: 16px;
	height: 30px;
	margin: 0 10px 0 0;
}
.save-btn {
	background-color: #183048;
	color: #fff;
	border: 1px solid #183048;
	width: 70px;
}
.save-btn:hover {
	opacity: .8;
}
.cancel-btn {
	background-color: #fff;
	border: 1px solid #183048;
	color: #183048;
	width: 80px;
}
.cancel-btn:hover {
	border: 2px solid #183048;
}
.setting-btn{
	background-color: #183048;
	color: #fff;
	border-radius: 10px;
	width: 45px;
	height: 30px;
	margin: 10px 0 0 0;
}
.setting input {
	border: 1px solid #183048;
	border-radius: 5px;
	margin: 0 0 20px 0;
	height: 30px;
	width: 200px;
}
.setting-name {
	width: 200px;
}
#firstname {
	width: 80px;
	float: left;
}
#lastname {
	width: 80px;
	float: right;
}

.setting select {
	border: 1px solid #183048;
	border-radius: 5px;
	margin: 0 0 20px 0;
	height: 30px;
	width: 200px;
}

.profile-ad-container{
	margin: 20px 0 0 350px;
	border-radius: 10px;
}
.profile-ad {
	border: 1px solid #183048;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0 0 0;
	width: 800px;
	min-height: 200px;
	color: #183048;
	overflow: hidden;
	cursor: pointer;
}

.profile-ad-img {
	width: 160px;
	height: 160px;
	border: 1px solid black;
	border-radius: 8px;
	float: left;
	margin: 0 20px 0 0;
	display: inline-block;
}
.profile-ad-preview {
	margin: -10px 0 0 20px;
	width: 550px;
	display: inline-block;
	overflow: hidden;
}
.profile-ad-title:hover {
	text-decoration: underline;
}
.profile-ad-intro {
	font-size: 18px;
}
.profile-ad-desc {
	font-size: 16px;
	width: 550px;
	color: black;
}
.profile-ad:hover {
	background-color: #ddd;
	opacity: .8;
}
.search-my-ads {
	border: 1px solid #183048;
	border-radius: 10px;
	width: 500px;
	height: 40px;
  margin: 8px 10px 0 0;
}
.search-my-ads-input{
	border: none;
	width: 450px;
	height: 36px;
	font-weight: 100;
	font-size: 18px;
	background-color: transparent;
	outline: none;
  margin: 0 0 0 10px;
}
.search-my-ads-go {
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	font-weight: 100;
	font-size: 20px;
	float: right;
	outline: none;
  margin: 4px 15px 0 0;
	color: #183048;
}
.bottom {
	margin: 50px 22% 0 22%;
	width: 800px;
	height: 100px;
	text-align: center;
	color: #777777;
	border-top: 1px solid black;
}
/*#main {
	margin-left: auto;
	padding-top: 30px;
	width: 90%;
}

#leftSideBar {
	float: left;
	margin-right: 50px;
}

#picContainer {
	width: 300px;
	margin-bottom: 10px;
}



#userName {
	font-weight: 600;
	font-size: 16pt;
}

#contact {

}

#contactHeader {
	display: inline-block;
	margin-top: 84px;
	font-size: 20pt;
	font-weight: 6000;
}

.contactInfo {
	display: inline-block;
	padding-bottom: 10px;
}

#adsContainer {
	float: left;
	width: 1100px;
	border-radius: 10px;
	border: 1pt solid grey;
}

#adHeader {
	font-size: 21pt;
	text-align: center;
}

#adList {
	width: 95%;
	margin: auto;
	min-height: 800px;
}

.adItem {
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 100%;
	max-height: 135px;
	overflow: hidden;
}

.thumbContainer {
	float: left;
	display: inline-block;
	margin: 5px;
	margin-right: 10px;

	max-height: 125px;
}

.adThumbnail {
	display: inline-block;
	max-height: inherit;
}

.adDetails {
	padding-left: 5px;
	float: left;
	display: inline-block;
	border-left: 1px solid grey;
	height: inherit;
	max-width: 900px;
	text-overflow: ellipsis;
}

.adTitle {
	float: left;
	display: inline-block;
	font-weight: 500;
	max-width: inherit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.adPrice {
	float: left;
	display: inline-block;
	font-weight: 800;
	max-width: inherit;
	text-align: right;
}

.adDesc {
	float: left;
	display: inline-block;
	max-width: inherit;
	max-height: 86px;

}
.bottom {
  margin: 50px 22% 0 22%;
  width: 800px;
  height: 100px;
  text-align: center;
  color: #777777;
  border-top: 1px solid black;
}*/
