body {
  padding-top: 89px;
  padding-bottom: 99px;
  background-color: #fff;
  font-family: "Times New Roman", Georgia, Serif;
  background-image: url("../images/bgd.jpg");
}

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 100;
  color: #efefef;
  text-align: center;
}
.form-register .checkbox {
	font-weight: 100;
}

.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #efefef;
	background: rgba(0, 0, 0, .1);
  border: none;
  margin-bottom: 10px;
  height: 40px;
}

.form-register .form-control:focus {
  z-index: 2;
}

.name {
	max-height: 40px;
}
.form-register input[type="firstname"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 140px;
  float: left;
}
.form-register input[type="lastname"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 140px;
  float: right;
}

.register-btn {
	font-size: 15px;
	font-weight: 100;
	width: 300px;
	height: 40px;
	color: #fdffdd;
	background: rgba(0, 0, 0, .3);
	border: none;
	border-radius: 6px;
	outline-color: #fbff8c;
}
.register-btn:hover {
	color: #fdffdd;
	background: rgba(0, 0, 0, .4);
}

.label {
	padding: 0 0 0 2px;
	font-size: 16px;
	font-weight: 100;
	color: #efefef;
	margin: 0;
}
.term1, .term2, .policy {
	font-size: 14px;
	font-weight: 100;
	color: #efefef;
	margin-left: 2px;
}
.form-register input[type="checkbox"] {
	margin-right: 3px;
}
.policy a {
	font-style: italic;
	font-size: 14px;
	font-weight: 100;
	text-decoration: none;
	color: #efefef;
}
